{{ 'component-product-section.css' | asset_url | stylesheet_tag }}

{% assign current_variant = product.selected_or_first_available_variant %}
{% assign featured_image = current_variant.featured_image | default: product.featured_image %}

<div class="product-template container">
  <div class="product-images">
    <div class="swiper-container-product-page swiper-container-{{- product.id -}}">
      <div class="swiper-wrapper">
        {% for image in product.images %}
        <div class="swiper-slide">
          <img src="{{ image.src | img_url: 'large' }}" alt="{{ image.alt | escape }}" />
          <div class="swiper-button-next swiper-button-next-{{- product.id -}}"></div>
          <div class="swiper-button-prev swiper-button-prev-{{- product.id -}}"></div>
        </div>
      {% endfor %}
      </div>
    </div>
  </div>

  <div class="product-description-container">
    <div class="product-title">
      <h1>{{ product.title }}</h1>
    </div>

    <div class="product-bottom">
      <div class="product-description">
        {{ product.description }}
      </div>
      {% render 'add-to-cart-form' %}
      
      <div class="product-delivery">
        <ul  class="product-delivery-li">
            {% for block in section.blocks %}
            {%- case block.type -%}
            {%- when 'delivery' -%}

          <li class="product-delivery-li">
            {{ block.settings.info_1 }}
        </li>
          <li>
            {{ block.settings.info_2 }}
          </li>
          {%- endcase -%}
            {% endfor %}
        </ul>
      </div>

    </div>
  </div>
</div>





{% schema %}
{
    "name": "delivery info",
    "tag": "section",
    "settings": [],
    "blocks": [
    {
        "type": "delivery",
        "name": "delivery information",
        "limit": 1,
        "settings": [

        {
            "type": "text",
            "id": "info_1",
            "default": "Delivery time is 3-5 days",
            "label": "Info 1"
        },
        {
            "type": "text",
            "id": "info_2",
            "default": "Delivery time is 3-5 days",
            "label": "Info 1"
        }
        ]
    }
    ],
    "presets": [
        {
            "category": "delivery",
            "name":"Delivery information"
        }
    ]
    
}
  {% endschema %}