{{ 'component-side-by-side.css' | asset_url | stylesheet_tag }}

<div class="side-by-side">
  <div class="left-column">
      {% for block in section.blocks %}
      {%- case block.type -%}
      {% when 'Images' %}
      <div class="image-background-left">
        <img srcset="{%- if block.settings.image.width >= 165 -%}{{ block.settings.image | img_url: '165x' }} 165w,{%- endif -%}
        {%- if block.settings.image.width >= 360 -%}{{ block.settings.image | img_url: '360x' }} 360w,{%- endif -%}
        {%- if block.settings.image.width >= 535 -%}{{ block.settings.image | img_url: '535x' }} 535w,{%- endif -%}
        {%- if block.settings.image.width >= 720 -%}{{ block.settings.image | img_url: '720x' }} 720w,{%- endif -%}
        {%- if block.settings.image.width >= 940 -%}{{ block.settings.image | img_url: '940x' }} 940w,{%- endif -%}
        {%- if block.settings.image.width >= 1070 -%}{{ block.settings.image | img_url: '1070x' }} 1070w{%- endif -%}"
         src="{{ block.settings.image | img_url }}" 
         loading="lazy" 
         alt="{{ block.settings.image.alt }}" 
         width="{{ block.settings.image.width }}"
        height="{{ block.settings.image.height }}"
        >
        {% when 'titles' %}
        <h2 class="title-left">{{ block.settings.titleleft | escape }}</h2>
        {% when 'Subtitles' %}
        <h3 class="subtitle-left">{{ block.settings.Subtitle-left }}</h3>
        {% when 'buttons' %}
        <a class="button-left" href="{{ block.settings.button_link_1 }}"> {{ block.settings.button_label_1 }} </a>
        {%- endcase -%}
        {% endfor %}
      </div>
    </div>
    <div class="right-column">
      {% for block in section.blocks %}
      {%- case block.type -%}
      {% when 'Images' %}
      <div class="image-background-left">
        <img srcset="{%- if block.settings.image-2.width >= 165 -%}{{ block.settings.image-2 | img_url: '165x' }} 165w,{%- endif -%}
        {%- if block.settings.image-2.width >= 360 -%}{{ block.settings.image-2 | img_url: '360x' }} 360w,{%- endif -%}
        {%- if block.settings.image-2.width >= 535 -%}{{ block.settings.image-2 | img_url: '535x' }} 535w,{%- endif -%}
        {%- if block.settings.image-2.width >= 720 -%}{{ block.settings.image-2 | img_url: '720x' }} 720w,{%- endif -%}
        {%- if block.settings.image-2.width >= 940 -%}{{ block.settings.image-2 | img_url: '940x' }} 940w,{%- endif -%}
        {%- if block.settings.image-2.width >= 1070 -%}{{ block.settings.image-2 | img_url: '1070x' }} 1070w{%- endif -%}"
         src="{{ block.settings.image | img_url }}" 
         loading="lazy" 
         alt="{{ block.settings.image-2.alt }}" 
         width="{{ block.settings.image-2.width }}"
        height="{{ block.settings.image-2.height }}"
        >
        {% when 'titles' %}
        <h2 class="title-left">{{ block.settings.title-right }}</h2>
        {% when 'Subtitles' %}
        <h3 class="subtitle-left">{{ block.settings.Subtitle-right }}</h3>
        {% when 'buttons' %}
        <a class="button-left" href="{{ block.settings.button_link_2 }}"> {{ block.settings.button_label_2 }} </a>
        {%- endcase -%}
        {% endfor %}
      </div>
    </div>
</div>

{% schema %}
{
  "name": "side by side",
  "tag": "section",
  "settings": [
  {
    "type": "text",
    "id": "title",
    "label": "Columns",
    "default": "Columns"
  }
  ],
  "blocks": [
  {
    "type": "buttons",
    "name": "buttons",
    "limit": 1,
    "settings": [
      {
        "type": "text",
        "id": "button_label_1",
        "default": "Button label",
        "label": "t:sections.image-banner.blocks.buttons.settings.button_label_1.label",
        "info": "t:sections.image-banner.blocks.buttons.settings.button_label_1.info"
      },
      {
        "type": "url",
        "id": "button_link_1",
        "label": "t:sections.image-banner.blocks.buttons.settings.button_link_1.label"
      },
      {
        "type": "text",
        "id": "button_label_2",
        "default": "Button label",
        "label": "t:sections.image-banner.blocks.buttons.settings.button_label_2.label",
        "info": "t:sections.image-banner.blocks.buttons.settings.button_label_2.info"
      },
      {
        "type": "url",
        "id": "button_link_2",
        "label": "t:sections.image-banner.blocks.buttons.settings.button_link_2.label"
      }
    ]
  },
  {
    "type": "titles",
    "name": "titles",
    "limit": 1,
    "settings": [
      {
        "type": "text",
        "id": "titleleft",
        "default": "TITLE",
        "label": "title left"
      },
      {
        "type": "text",
        "id": "title-right",
        "default": "TITLE",
        "label": "title right"
      }
    ]
  },
  {
    "type": "Subtitles",
    "name": "Subtitles",
    "limit": 1,
    "settings": [
      {
        "type": "text",
        "id": "Subtitle-left",
        "default": "SUBTITLE",
        "label": "subtitle left"
      },
      {
        "type": "text",
        "id": "Subtitle-right",
        "default": "SUBTITLE",
        "label": "subtitle right"
      }
    ]
  },
  {
    "type": "Images",
    "name": "Images",
    "limit": 1,
    "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image colum left"
    },
    {
      "type": "image_picker",
      "id": "image-2",
      "label": "Image colum right"
    }
    ]
  }
],
"presets": [
    {
      "name": "Side by Side",
      "blocks": [
        {
            "type": "Images"
        },
        {
          "type": "titles"
        },
        {
          "type": "Subtitles"
        },
        {
          "type": "buttons"
        }
      ]
    }
  ]
}

{% endschema %}